.tshirt-company {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.showcase img {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.showcase img:hover {
    transform: scale(1.1);
}

.start-design {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.start-design:hover {
    background-color: #0056b3;
}

/* Styles pour le responsive design */
@media only screen and (max-width: 600px) {
    .tshirt-company {
        margin: 10px;
        padding: 15px;
    }

    .start-design {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    .showcase {
        flex-direction: column;
    }

    .showcase img {
        max-width: none;
        margin-bottom: 10px;
    }
}
